<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simpleapp.savi">

    <application
        android:name=".SaviApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_v2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".history.HistoryActivity"
            android:label="History"/>
        <activity
            android:name=".calculator.CalculatorActivity"
            android:label="Calculator"/>
        <activity
            android:name=".recordedit.RecordEditActivity"
            android:label="Edit"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"/>
    </application>

</manifest>